/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Inconsolata:400,700");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article,
form,
table, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, form, table, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'amerTypewriter';
  src: url("../fonts/AmericanTypewriter.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

a {
  text-decoration: none;
  color: #fff; }

.active-nav {
  background: rgba(0, 0, 0, 0.9); }

.scrolled {
  background-color: rgba(0, 0, 0, 0.9) !important;
  transition: background-color 200ms linear; }

nav {
  float: right;
  font-family: "Inconsolata", monospace;
  font-weight: 400;
  font-size: 1.5em;
  width: 100%;
  padding: 50px 0 10px; }
  nav ul {
    display: none;
    list-style: none; }
    nav ul li {
      float: none;
      position: relative; }
      nav ul li a {
        display: block;
        color: #fff;
        text-decoration: none;
        text-align: center;
        padding: 15px;
        line-height: 0px;
        /* any a tag in our nav list that is NOT an only child */ }
        nav ul li a:hover {
          color: #ffde4c; }
      nav ul li ul li {
        min-width: 138px; }
        nav ul li ul li a {
          padding: 15px 15px 15px 30px;
          line-height: 20px;
          border: none; }
  nav ul.nav-dropdown {
    position: absolute;
    z-index: 1;
    display: none;
    position: static;
    background: rgba(255, 255, 255, 0.2); }

.nav-mobile {
  display: none;
  position: absolute;
  top: 5px;
  right: 15px;
  height: 50px;
  width: 50px;
  display: block; }

.navigation {
  height: 50px;
  height: 50px;
  width: 100%;
  position: fixed;
  z-index: 2; }

.nav-container {
  margin: 0 auto;
  display: flex;
  justify-content: center; }

.brand {
  position: absolute;
  left: 25px;
  width: 70px;
  height: 50px;
  margin-top: 15px;
  line-height: 50px;
  font-size: 2em;
  font-family: "Inconsolata", monospace;
  background-image: url("../img/canon.svg");
  background-repeat: no-repeat; }

/* Elijah Manor CSS animated hamburger icon START http://codepen.io/elijahmanor/pen/Igpoe */
#nav-toggle {
  position: absolute;
  left: 8px;
  top: 13px;
  cursor: pointer;
  padding: 10px 35px 16px 0px; }
  #nav-toggle span,
  #nav-toggle span:before,
  #nav-toggle span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 3px;
    width: 35px;
    background: #fff;
    position: absolute;
    display: block;
    content: '';
    transition: all 300ms ease-in-out; }
  #nav-toggle span:before {
    top: -10px; }
  #nav-toggle span:after {
    bottom: -10px; }
  #nav-toggle.active span {
    background-color: transparent; }
    #nav-toggle.active span:before, #nav-toggle.active span:after {
      top: 0; }
    #nav-toggle.active span:before {
      transform: rotate(45deg); }
    #nav-toggle.active span:after {
      transform: rotate(-45deg); }

li.social-media {
  display: flex;
  justify-content: center; }

a svg:hover #Facebook,
a svg:hover #Twitter,
a svg:hover #Instagram {
  fill: #ffde4c; }

*,
*:before,
*:after {
  box-sizing: border-box; }

.container {
  width: 100%;
  overflow: hidden;
  position: relative; }
  .container img {
    width: 50%;
    margin: 11% auto; }

.content {
  position: relative;
  max-width: 1008px;
  height: 100%;
  margin: 75px auto;
  padding: 18px;
  z-index: 1;
  display: table;
  mix-blend-mode: screen; }

.title {
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  display: table-cell;
  vertical-align: middle;
  font-size: 72px; }

.video {
  display: block;
  position: absolute;
  z-index: 0;
  width: 100%;
  height: auto;
  top: 0;
  right: 0;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  margin: auto;
  width: auto; }
  @media (min-width: 1200px) {
    .video {
      width: 100%; } }

.slider {
  width: inherit;
  height: inherit;
  position: relative; }

.slide1, .slide2, .slide3, .slide4, .slide5 {
  position: absolute;
  width: 100%;
  height: 100%; }

.slide1 {
  background: url(../img/mobileSlides/truffle-old-fashioned-cocktail-canon-seattle.jpg) no-repeat center;
  background-size: cover;
  animation: fade 16s infinite;
  animation-delay: 16s; }

.slide2 {
  background: url(../img/mobileSlides/Article-Vintage-Spirits-Historic-Cocktails-Canon-Seattle-Sole-Agent-Chicago.jpg) no-repeat center;
  background-size: cover;
  animation: fade2 16s infinite;
  animation-delay: 16s; }

.slide3 {
  background: url(../img/mobileSlides/canonBookCrop.jpg) no-repeat center;
  background-size: cover;
  animation: fade3 16s infinite; }

@keyframes fade {
  0% {
    opacity: 1; }
  33.333% {
    opacity: 0; }
  66.666% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fade2 {
  0% {
    opacity: 0; }
  33.333% {
    opacity: 1; }
  66.666% {
    opacity: 0; }
  100% {
    opacity: 0; } }

@keyframes fade3 {
  0% {
    opacity: 0; }
  33.333% {
    opacity: 0; }
  66.666% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes fade4 {
  0% {
    opacity: 0; }
  33.333% {
    opacity: 0; }
  66.666% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes fade5 {
  0% {
    opacity: 0; }
  33.333% {
    opacity: 0; }
  66.666% {
    opacity: 1; }
  100% {
    opacity: 0; } }

#modal-container {
  position: fixed;
  display: table;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  transform: scale(0);
  z-index: 2;
  color: #000; }
  #modal-container p a {
    color: #4286f4; }
  #modal-container.one {
    transform: scaleY(0.01) scaleX(0);
    animation: unfoldIn 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards; }
    #modal-container.one .modal-background .modal {
      transform: scale(0);
      animation: zoomIn 0.5s 0.8s cubic-bezier(0.165, 0.84, 0.44, 1) forwards; }
    #modal-container.one.out {
      transform: scale(1);
      animation: unfoldOut 1s 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards; }
      #modal-container.one.out .modal-background .modal {
        animation: zoomOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards; }
  #modal-container.two {
    transform: scale(1); }
    #modal-container.two .modal-background {
      background: transparent;
      animation: fadeIn 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards; }
      #modal-container.two .modal-background .modal {
        opacity: 0;
        animation: scaleUp 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards; }
    #modal-container.two + .content-modal {
      animation: scaleBack 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards; }
    #modal-container.two.out {
      animation: quickScaleDown 0s .5s linear forwards; }
      #modal-container.two.out .modal-background {
        animation: fadeOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards; }
        #modal-container.two.out .modal-background .modal {
          animation: scaleDown 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards; }
      #modal-container.two.out + .content-modal {
        animation: scaleForward 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards; }
  #modal-container.three {
    z-index: 0;
    transform: scale(1); }
    #modal-container.three .modal-background {
      background: rgba(0, 0, 0, 0.6); }
      #modal-container.three .modal-background .modal {
        animation: moveUp 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards; }
    #modal-container.three + .content-modal {
      z-index: 1;
      animation: slideUpLarge 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards; }
    #modal-container.three.out .modal-background .modal {
      animation: moveDown 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards; }
    #modal-container.three.out + .content-modal {
      animation: slideDownLarge 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards; }
  #modal-container.four {
    z-index: 0;
    transform: scale(1); }
    #modal-container.four .modal-background {
      background: rgba(0, 0, 0, 0.7); }
      #modal-container.four .modal-background .modal {
        animation: blowUpModal 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards; }
    #modal-container.four + .content-modal {
      z-index: 1;
      animation: blowUpContent 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards; }
    #modal-container.four.out .modal-background .modal {
      animation: blowUpModalTwo 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards; }
    #modal-container.four.out + .content-modal {
      animation: blowUpContentTwo 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards; }
  #modal-container.five {
    transform: scale(1); }
    #modal-container.five .modal-background {
      background: transparent;
      animation: fadeIn 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards; }
      #modal-container.five .modal-background .modal {
        transform: translateX(-1500px);
        animation: roadRunnerIn 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards; }
    #modal-container.five.out {
      animation: quickScaleDown 0s .5s linear forwards; }
      #modal-container.five.out .modal-background {
        animation: fadeOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards; }
        #modal-container.five.out .modal-background .modal {
          animation: roadRunnerOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards; }
  #modal-container.six {
    transform: scale(1); }
    #modal-container.six .modal-background {
      background: transparent;
      animation: fadeIn 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards; }
      #modal-container.six .modal-background .modal {
        background-color: transparent;
        animation: modalFadeIn 0.5s 0.8s cubic-bezier(0.165, 0.84, 0.44, 1) forwards; }
        #modal-container.six .modal-background .modal h2, #modal-container.six .modal-background .modal p {
          opacity: 0;
          position: relative;
          animation: modalContentFadeIn 0.5s 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards; }
        #modal-container.six .modal-background .modal .modal-svg {
          z-index: -1; }
          #modal-container.six .modal-background .modal .modal-svg rect {
            animation: sketchIn 0.5s 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards; }
    #modal-container.six.out {
      animation: quickScaleDown 0s .5s linear forwards; }
      #modal-container.six.out .modal-background {
        animation: fadeOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards; }
        #modal-container.six.out .modal-background .modal {
          animation: modalFadeOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards; }
          #modal-container.six.out .modal-background .modal h2, #modal-container.six.out .modal-background .modal p {
            animation: modalContentFadeOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards; }
          #modal-container.six.out .modal-background .modal .modal-svg {
            z-index: -1; }
            #modal-container.six.out .modal-background .modal .modal-svg rect {
              animation: sketchOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards; }
  #modal-container.seven {
    transform: scale(1); }
    #modal-container.seven .modal-background {
      background: transparent;
      animation: fadeIn 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards; }
      #modal-container.seven .modal-background .modal {
        height: 75px;
        width: 75px;
        border-radius: 75px;
        overflow: hidden;
        animation: bondJamesBond 1.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards; }
        #modal-container.seven .modal-background .modal h2, #modal-container.seven .modal-background .modal p {
          opacity: 0;
          position: relative;
          animation: modalContentFadeIn .5s 1.4s linear forwards; }
    #modal-container.seven.out {
      animation: slowFade .5s 1.5s linear forwards; }
      #modal-container.seven.out .modal-background {
        background-color: rgba(0, 0, 0, 0.7);
        animation: fadeToRed 2s cubic-bezier(0.165, 0.84, 0.44, 1) forwards; }
        #modal-container.seven.out .modal-background .modal {
          border-radius: 3px;
          height: 162px;
          width: 227px;
          animation: killShot 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards; }
          #modal-container.seven.out .modal-background .modal h2, #modal-container.seven.out .modal-background .modal p {
            animation: modalContentFadeOut 0.5s 0.5 cubic-bezier(0.165, 0.84, 0.44, 1) forwards; }
  #modal-container .modal-background {
    display: table-cell;
    background: rgba(0, 0, 0, 0.8);
    text-align: center;
    vertical-align: middle; }
    #modal-container .modal-background .modal {
      background: white;
      padding: 50px;
      display: inline-block;
      border-radius: 3px;
      font-weight: 300;
      position: relative; }
      #modal-container .modal-background .modal h2 {
        font-size: 25px;
        line-height: 25px;
        margin-bottom: 15px; }
      #modal-container .modal-background .modal p {
        font-size: 18px;
        line-height: 22px; }
      #modal-container .modal-background .modal .modal-svg {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        border-radius: 3px;
        z-index: -1; }
        #modal-container .modal-background .modal .modal-svg rect {
          stroke: #fff;
          stroke-width: 2px;
          stroke-dasharray: 778;
          stroke-dashoffset: 778; }

.content-modal {
  min-height: 100%;
  height: 100%;
  background: white;
  position: relative;
  z-index: 0; }
  .content-modal h1 {
    padding: 75px 0 30px 0;
    text-align: center;
    font-size: 30px;
    line-height: 30px; }
  .content-modal .buttons {
    max-width: 800px;
    margin: 0 auto;
    padding: 0;
    text-align: center; }
    .content-modal .buttons .button {
      display: inline-block;
      text-align: center;
      padding: 10px 15px;
      margin: 10px;
      background: red;
      font-size: 18px;
      background-color: #efefef;
      border-radius: 3px;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
      cursor: pointer; }
      .content-modal .buttons .button:hover {
        color: white;
        background: #009bd5; }

@keyframes unfoldIn {
  0% {
    transform: scaleY(0.005) scaleX(0); }
  50% {
    transform: scaleY(0.005) scaleX(1); }
  100% {
    transform: scaleY(1) scaleX(1); } }

@keyframes unfoldOut {
  0% {
    transform: scaleY(1) scaleX(1); }
  50% {
    transform: scaleY(0.005) scaleX(1); }
  100% {
    transform: scaleY(0.005) scaleX(0); } }

@keyframes zoomIn {
  0% {
    transform: scale(0); }
  100% {
    transform: scale(1); } }

@keyframes zoomOut {
  0% {
    transform: scale(1); }
  100% {
    transform: scale(0); } }

@keyframes fadeIn {
  0% {
    background: transparent; }
  100% {
    background: rgba(0, 0, 0, 0.7); } }

@keyframes fadeOut {
  0% {
    background: rgba(0, 0, 0, 0.7); }
  100% {
    background: transparent; } }

@keyframes scaleUp {
  0% {
    transform: scale(0.8) translateY(1000px);
    opacity: 0; }
  100% {
    transform: scale(1) translateY(0px);
    opacity: 1; } }

@keyframes scaleDown {
  0% {
    transform: scale(1) translateY(0px);
    opacity: 1; }
  100% {
    transform: scale(0.8) translateY(1000px);
    opacity: 0; } }

@keyframes scaleBack {
  0% {
    transform: scale(1); }
  100% {
    transform: scale(0.85); } }

@keyframes scaleForward {
  0% {
    transform: scale(0.85); }
  100% {
    transform: scale(1); } }

@keyframes quickScaleDown {
  0% {
    transform: scale(1); }
  99.9% {
    transform: scale(1); }
  100% {
    transform: scale(0); } }

@keyframes slideUpLarge {
  0% {
    transform: translateY(0%); }
  100% {
    transform: translateY(-100%); } }

@keyframes slideDownLarge {
  0% {
    transform: translateY(-100%); }
  100% {
    transform: translateY(0%); } }

@keyframes moveUp {
  0% {
    transform: translateY(150px); }
  100% {
    transform: translateY(0); } }

@keyframes moveDown {
  0% {
    transform: translateY(0px); }
  100% {
    transform: translateY(150px); } }

@keyframes blowUpContent {
  0% {
    transform: scale(1);
    opacity: 1; }
  99.9% {
    transform: scale(2);
    opacity: 0; }
  100% {
    transform: scale(0); } }

@keyframes blowUpContentTwo {
  0% {
    transform: scale(2);
    opacity: 0; }
  100% {
    transform: scale(1);
    opacity: 1; } }

@keyframes blowUpModal {
  0% {
    transform: scale(0); }
  100% {
    transform: scale(1); } }

@keyframes blowUpModalTwo {
  0% {
    transform: scale(1);
    opacity: 1; }
  100% {
    transform: scale(0);
    opacity: 0; } }

@keyframes roadRunnerIn {
  0% {
    transform: translateX(-1500px) skewX(30deg) scaleX(1.3); }
  70% {
    transform: translateX(30px) skewX(0deg) scaleX(0.9); }
  100% {
    transform: translateX(0px) skewX(0deg) scaleX(1); } }

@keyframes roadRunnerOut {
  0% {
    transform: translateX(0px) skewX(0deg) scaleX(1); }
  30% {
    transform: translateX(-30px) skewX(-5deg) scaleX(0.9); }
  100% {
    transform: translateX(1500px) skewX(30deg) scaleX(1.3); } }

@keyframes sketchIn {
  0% {
    stroke-dashoffset: 778; }
  100% {
    stroke-dashoffset: 0; } }

@keyframes sketchOut {
  0% {
    stroke-dashoffset: 0; }
  100% {
    stroke-dashoffset: 778; } }

@keyframes modalFadeIn {
  0% {
    background-color: transparent; }
  100% {
    background-color: white; } }

@keyframes modalFadeOut {
  0% {
    background-color: white; }
  100% {
    background-color: transparent; } }

@keyframes modalContentFadeIn {
  0% {
    opacity: 0;
    top: -20px; }
  100% {
    opacity: 1;
    top: 0; } }

@keyframes modalContentFadeOut {
  0% {
    opacity: 1;
    top: 0px; }
  100% {
    opacity: 0;
    top: -20px; } }

@keyframes bondJamesBond {
  0% {
    transform: translateX(1000px); }
  80% {
    transform: translateX(0px);
    border-radius: 75px;
    height: 75px;
    width: 75px; }
  90% {
    border-radius: 3px;
    height: 182px;
    width: 247px; }
  100% {
    border-radius: 3px;
    height: 162px;
    width: 227px; } }

@keyframes killShot {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1; }
  100% {
    transform: translateY(300px) rotate(45deg);
    opacity: 0; } }

@keyframes fadeToRed {
  0% {
    box-shadow: inset 0 0 0 rgba(201, 24, 24, 0.8); }
  100% {
    box-shadow: inset 0 2000px 0 rgba(201, 24, 24, 0.8); } }

@keyframes slowFade {
  0% {
    opacity: 1; }
  99.9% {
    opacity: 0;
    transform: scale(1); }
  100% {
    transform: scale(0); } }

.logo {
  width: 75%;
  margin: 25px auto; }
  .logo h1 {
    display: none; }
  @media (min-width: 680px) and (max-width: 1199px) {
    .logo {
      width: 50%; } }
  @media (min-width: 1200px) {
    .logo {
      width: 50%; } }

.info {
  font-family: "Inconsolata", monospace;
  text-align: center;
  margin: auto;
  padding: 20px; }
  .info address {
    font-size: 1.3em;
    font-weight: 700;
    margin-top: 10px; }

main aside {
  font-family: "Inconsolata", monospace;
  padding: 20px;
  margin: 20px 0;
  clear: both; }
  @media (min-width: 680px) and (max-width: 1199px) {
    main aside {
      width: 70%;
      margin: 20px auto; } }
  @media (min-width: 1200px) {
    main aside {
      width: 70%;
      margin: 20px auto; } }
  main aside img.text-dividerT {
    transform: scaleY(-1); }

img.text-divider1 {
  width: 80%;
  margin: 25px 0; }

.cta-wrapper {
  display: flex;
  flex-wrap: wrap; }

.cta {
  margin: 20px 0;
  position: relative; }
  .cta a {
    position: absolute;
    height: 100%;
    width: 100%; }
  .cta h2 {
    font-size: 2.5em;
    text-align: center;
    margin-top: 11%; }

@media (min-width: 680px) and (max-width: 1199px) {
  .cta1, .cta3 {
    flex: 0 0 50%; } }

@media (min-width: 1200px) {
  .cta1, .cta3 {
    flex: 0 0 50%; } }

@media (min-width: 680px) and (max-width: 1199px) {
  .cta2, .cta4 {
    flex: 0 0 50%; } }

@media (min-width: 1200px) {
  .cta2, .cta4 {
    flex: 0 0 50%; } }

img {
  width: 100%; }

.top-img {
  width: 100%; }

html {
  background-color: #030e35; }

body {
  color: #fff;
  font-family: "amerTypewriter", serif;
  line-height: 1.2em;
  width: 100%;
  font-size: 1em; }

div#wrapper {
  margin: auto; }

a:hover {
  color: #ffde4c; }

p {
  margin: 10px 0; }

h2 {
  font-size: 1.5em;
  margin: 2% 0 0 5%; }

header {
  position: relative; }
  header div.slider {
    top: -5%; }
  header div {
    left: 0;
    position: absolute;
    text-align: center;
    top: 5%;
    width: 100%;
    color: #000000;
    font-size: 3em; }
    header div h2 {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 30%;
      margin: auto;
      line-height: 130%;
      font-size: 9vw;
      color: white; }
    header div img.fancyLabel {
      width: 50%; }

article, form, table {
  background: #fffdf2;
  color: #000000;
  padding: 20px;
  width: 80%;
  margin: 20px auto;
  overflow: auto;
  display: flex;
  flex-direction: column; }
  @media (min-width: 680px) and (max-width: 1199px) {
    article, form, table {
      flex-direction: row; } }
  @media (min-width: 1200px) {
    article, form, table {
      flex-direction: row; } }
  article div a, form div a, table div a {
    color: #4286f4; }
    article div a:hover, form div a:hover, table div a:hover {
      color: #030e35; }
  article h3 span, form h3 span, table h3 span, article h4 span, form h4 span, table h4 span, article p span, form p span, table p span {
    font-family: "Inconsolata", monospace;
    font-weight: 700;
    font-size: 1.8em;
    line-height: .9em; }
  article h4 span, form h4 span, table h4 span {
    font-size: 1em; }
  article p span, form p span, table p span {
    font-size: 1em; }
  article .img-about, form .img-about, table .img-about, article .img-award, form .img-award, table .img-award, article .img-product, form .img-product, table .img-product {
    width: 80%;
    margin: 15px auto; }
    @media (min-width: 680px) and (max-width: 1199px) {
      article .img-about, form .img-about, table .img-about, article .img-award, form .img-award, table .img-award, article .img-product, form .img-product, table .img-product {
        width: 30%;
        margin-right: 20px; } }
    @media (min-width: 1200px) {
      article .img-about, form .img-about, table .img-about, article .img-award, form .img-award, table .img-award, article .img-product, form .img-product, table .img-product {
        width: 30%;
        margin-right: 20px; } }
  article .img-award, form .img-award, table .img-award {
    width: 50%; }
  article .img-product, form .img-product, table .img-product {
    width: 50%; }
  article .content-award, form .content-award, table .content-award {
    width: 100%;
    margin: auto 0; }
    @media (min-width: 680px) and (max-width: 1199px) {
      article .content-award, form .content-award, table .content-award {
        width: 70%; } }
    @media (min-width: 1200px) {
      article .content-award, form .content-award, table .content-award {
        width: 70%; } }
  article .content-about, form .content-about, table .content-about, article .content-product, form .content-product, table .content-product {
    width: 100%;
    margin: auto 0; }
    @media (min-width: 680px) and (max-width: 1199px) {
      article .content-about, form .content-about, table .content-about, article .content-product, form .content-product, table .content-product {
        width: 70%; } }
    @media (min-width: 1200px) {
      article .content-about, form .content-about, table .content-about, article .content-product, form .content-product, table .content-product {
        width: 70%; } }
  article .content-faq, form .content-faq, table .content-faq {
    margin: auto; }
    article .content-faq h3, form .content-faq h3, table .content-faq h3 {
      text-align: center;
      margin-bottom: 6%; }
    article .content-faq p.question, form .content-faq p.question, table .content-faq p.question {
      font-weight: 700; }
    article .content-faq p.answer, form .content-faq p.answer, table .content-faq p.answer {
      margin-left: 5%;
      font-style: italic; }

main#awardsPage {
  display: flex;
  flex-direction: column; }

main#aboutPage {
  display: flex;
  flex-direction: column; }

button {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box; }
  button:hover {
    background-color: #3f3f3f;
    color: #fff; }

#admin-button {
  padding: 20px;
  width: 80%;
  margin: 20px auto; }

form {
  flex-direction: column; }
  form input {
    width: 100%;
    height: 30px;
    background-color: #f2f2f2;
    border-radius: 15px;
    border-style: none;
    padding-left: 20px; }
  form.adminSwitch {
    height: 110px; }

div.form-group {
  display: block;
  width: 90%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  background-image: none;
  border-radius: 10px;
  margin: 25px auto; }
  div.form-group select {
    background-color: #bababa; }

#adminSelector {
  margin: 0 auto;
  width: 50%; }

select {
  background: transparent;
  border: none;
  font-size: 14px;
  height: 29px;
  padding: 5px;
  width: 268px; }

table {
  background-color: #fff;
  font-size: 13px; }
  table th, table td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #E1E1E1; }
  table th {
    font-family: "Inconsolata", monospace;
    font-weight: 600; }
  table td a {
    color: #4286f4; }

@media (min-width: 1200px) {
  footer {
    background-color: #bababa;
    padding: 20px;
    overflow: auto; }
    footer img {
      width: 50%;
      float: right; } }

.columns {
  column-width: 8em; }
  @media (min-width: 680px) and (max-width: 1199px) {
    .columns {
      column-width: 11.2em; } }
  @media (min-width: 1200px) {
    .columns {
      column-width: 11.2em; } }

.utility-menu {
  background-color: #bababa;
  padding: 20px; }
  @media (min-width: 1200px) {
    .utility-menu {
      width: 50%; } }
  .utility-menu a {
    color: #000000; }
  .utility-menu a:hover {
    color: #ffde4c; }
  .utility-menu ul li.social-media {
    float: left;
    margin-top: 10px; }
    .utility-menu ul li.social-media a {
      margin-right: 10px; }
  .utility-menu ul ul {
    padding: 0 0 0 15px; }
